body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, p {
  font-family: sans-serif;
}

.box {
  width: 200px;
  height: 200px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circle_p {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid black;
  background-color: rgb(195, 0, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#my_progress {
  border: solid black;
  background-color: hotpink;
}

.progressRow {
  display: flex;
  justify-content: space-between;
 
}

.span_p{
  padding-top: 36%;
  display: block;
  width: 100px;
  height: 100px;
  text-align:center;
  /* margin-left: 40%; */
}

.cardBody{
  justify-content: center;
  background-color: grey;
  height: 250px;
}

.cardTitle{
  height: 40px;
  background-color: rgb(195, 0, 255);
  padding-left: 30%;
  
}